:root {
  /* Table Base Variables */
  --table-bg-color: #20232a;
  --table-bd-color: #30363d;
  --table-fg-color: #b9c6e4;
  --table-shadow: 0 0 10px #30363d56;
  --table-width: 100%;
  --table-height: 100%;
  --table-min-height: 80vh;
  --table-max-height: 80vh;
  --table-bd-radius: 8px;
  --table-base-transition: all 0.4s ease;
  --table-outside-bd-width: 2px;
  --table-inside-bd-width: 1px;
  --table-font-family: "Roboto", sans-serif;
  --table-font-size: 12px;
  --table-font-weight: 400;
  --table-base-gap: 0.4rem;
  --table-base-padding: 0.5rem;
  --table-top-container-height: 40px;
  --table-bottom-container-height: 40px;
  /* Table Header Variables */
  --table-header-bg-color: #282c34;
  --table-header-bd-color: #fb7185;
  --table-header-fg-color: #b9c6e4;
  --table-header-height: 40px;
  /* Table Body Variables */
  --table-row-bg-color: #20232a;
  --table-row-fg-color: #b9c6e4;
  --table-alternate-row-bg-color: #282c34;
  --table-alternate-row-fg-color: #b9c6e4;
  --table-gridline-color: #30363d;
  --table-row-height: 35px;
  /* Table Pagination Variables */
  --table-pagination-btn-fg-color: #b9c6e4;
  --table-pagination-btn-bg-hover-color: #30363d;
  --table-pagination-btn-fg-active-color: #fb7185;
  /* Table Ui Variables */
  --table-ui-bg-color: #20232a;
  --table-ui-fg-color: #b9c6e4;
  --table-ui-bd-color: #30363d;
  --table-ui-shadow: 0 0 10px #30363d56;
  --table-ui-focus-color: #fb7185;
  --table-ui-checked-color: #fb7185;
  --table-ui-hover-fg-color: #818ba2;
  /** Loader Variables */
  --loader-overlay-color: #b9c6e466;
  --loader-icon-color: #b9c6e4;
  /* Tooltip Variables */
  --tooltip-bg-color: #20232a;
  --tooltip-fg-color: #b9c6e4;
  --tooltip-bd-color: #30363d;
  --tooltip-shadow-color: #30363d56;
  /* Table Toast Variables */
  --toast-bg-color: #20232a;
  --toast-fg-color: #b9c6e4;
  --toast-bd-color: #30363d;
  --toast-shadow: 2px 2px 4px #b9c6e455;
  --toast-danger-color: #c53030;
  --toast-success-color: #7cca57;
  --toast-info-color: #3182ce;
  --toast-warning-color: #f59e0b;
}

/*
TABLE BASE RESET
-------------------------------------------------
Section 1: This section contains the base reset for the table.
*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 2rem; /* For test purposes. Remove later */
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: max-content;
}

thead tr {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--table-header-bg-color);
  color: var(--table-header-fg-color);
  height: var(--table-header-height);
  padding: var(--table-base-padding);
}

th {
  position: relative;
  padding-inline: var(--table-base-padding);
}

tr {
  background-color: var(--table-row-bg-color);
  color: var(--table-row-fg-color);
  height: var(--table-row-height);
  border-bottom: var(--table-inside-bd-width) solid var(--table-gridline-color);
}

tr:nth-child(even) {
  background-color: var(--table-alternate-row-bg-color);
  color: var(--table-alternate-row-fg-color);
}

/*
TABLE CONTAINER STYLING
-------------------------------------------------
Section 2: This section contains the container styling.
*/

.table-container {
  width: var(--table-width);
  height: var(--table-height);
  min-height: var(--table-min-height);
  max-height: var(--table-max-height);
  border-radius: var(--table-bd-radius);
  background-color: var(--table-bg-color);
  color: var(--table-fg-color);
  border: var(--table-outside-bd-width) solid var(--table-bd-color);
  box-shadow: var(--table-shadow);
  font-family: var(--table-font-family);
  font-size: var(--table-font-size);
  font-weight: var(--table-font-weight);
  display: grid;
  grid-template-rows: var(--table-top-container-height) auto 1fr var(
      --table-bottom-container-height
    );
  user-select: none;
}

.top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: var(--table-base-padding);
  border-bottom: var(--table-inside-bd-width) solid var(--table-bd-color);
}

.action-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.middle-container {
  overflow: auto;
  display: block;
}

.bottom-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: var(--table-base-padding);
  border-top: var(--table-inside-bd-width) solid var(--table-bd-color);
}

/*
TABLE HEADER STYLING
-------------------------------------------------
Section 3: This section contains the header classes.
*/

.icon-btn.table-sort-btn:hover {
  color: var(--table-ui-hover-fg-color);
}

.header-bottom-border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--table-header-bd-color);
}

/*
TABLE ROW STYLING
-------------------------------------------------
Section 3: This section contains the row classes.
*/

.first-cell {
  padding-inline: var(--table-base-padding);
}

.table-cell {
  padding-inline: var(--table-base-padding);
}

/*
TABLE UI STYLING
-------------------------------------------------
Section 2: This section contains the ui classes.
*/
.table-header-control,
.table-control {
  outline: none;
  border: 1px solid var(--table-ui-bd-color);
  background-color: var(--table-ui-bg-color);
  color: var(--table-ui-fg-color);
  border-radius: var(--table-bd-radius);
  transition: var(--table-base-transition);
  padding-inline: var(--table-base-padding);
  height: 30px;
  font-family: inherit;
  font-size: inherit;
}

.table-header-control:focus,
.table-control:focus {
  outline: 2px solid var(--table-ui-focus-color);
  outline-offset: 1px;
}

.icon-btn {
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  transition: var(--table-base-transition);
  padding: 0.2rem;
}

.table-checkbox {
  accent-color: var(--table-ui-checked-color);
}

.quick-search-input {
  width: 350px;
}

.pagination-btn {
  outline: none;
  border: none;
  background-color: transparent;
  color: var(--table-ui-fg-color);
  border-radius: var(--table-bd-radius);
  transition: var(--table-base-transition);
  padding-inline: var(--table-base-padding);
  height: 30px;
  min-width: 30px;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

.pagination-btn:hover {
  background-color: var(--table-pagination-btn-bg-hover-color);
}

.pagination-btn.page-active {
  border: 2px solid var(--table-pagination-btn-fg-active-color);
  pointer-events: none;
}

/*
TABLE GENERIC STYLING
-------------------------------------------------
Section 2: This section contains the generic classes.
*/

.flex-row {
  display: flex;
  flex-flow: row nowrap;
}

.flex-col {
  display: flex;
  flex-flow: column nowrap;
}

.flex-row-wrap {
  display: flex;
  flex-flow: row wrap;
}

.flex-col-wrap {
  display: flex;
  flex-flow: column wrap;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.base-gap {
  gap: var(--table-base-gap);
}

.base-padding {
  padding: var(--table-base-padding);
}

/*
TABLE LOADER STYLING
-------------------------------------------------
Section 2: This section contains the loader classes.
*/
.loader {
  height: 100%;
  width: 100%;
  background-color: var(--loader-overlay-color);
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.spinner {
  color: var(--loader-icon-color);
  font-size: 4rem;
}

/*
TABLE TOOLTIP STYLING
-------------------------------------------------
Section 2: This section contains the tooltip classes.
*/
[tooltip] {
  position: relative;
}

[tooltip]:hover::after {
  content: attr(tooltip);
  position: absolute;
  padding: 0.6rem;
  background-color: var(--tooltip-bg-color);
  color: var(--tooltip-fg-color);
  border: 1px solid var(--tooltip-bd-color);
  border-radius: var(--table-bd-radius);
  box-shadow: 0 0 5px var(--tooltip-shadow-color);
  font-size: 0.8rem;
  z-index: 99999;
  text-wrap: nowrap;
  font-size: 0.7rem;
  opacity: 0;
  visibility: hidden;
  animation: fadeIn 1.5s ease-in forwards, fadeOut 1.5s ease-in 3s forwards;
}

[tooltip]:hover::after {
  opacity: 1;
  visibility: visible;
}

.tooltip-bottom-left::after {
  top: calc(100% + 10px);
  left: 0;
}

.tooltip-bottom-right::after {
  top: calc(100% + 10px);
  right: 0;
}

.tooltip-top-left::after {
  bottom: calc(100% + 10px);
  left: 0;
}

.tooltip-top-right::after {
  bottom: calc(100% + 10px);
  right: 0;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

/*
TABLE TOAST STYLING
-------------------------------------------------
Section 2: This section contains the toast classes.
*/
.toast {
  height: 45px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-inline: var(--table-base-padding);
  border-radius: var(--table-bd-radius);
  position: relative;
  background-color: var(--toast-bg-color);
  color: var(--toast-fg-color);
  border: 2px solid var(--toast-bd-color);
  box-shadow: var(--toast-shadow);
  overflow: hidden;
}

.toast-icon {
  font-size: 1.1rem;
}

.toast-icon.toast-danger {
  color: var(--toast-danger-color);
}

.toast-icon.toast-success {
  color: var(--toast-success-color);
}

.toast-icon.toast-info {
  color: var(--toast-info-color);
}

.toast-icon.toast-warning {
  color: var(--toast-warning-color);
}

.toast-close {
  color: inherit;
  position: absolute;
  right: 1rem;
}

.toast-border {
  height: 4px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.toast-border.toast-danger {
  background-color: var(--toast-danger-color);
}

.toast-border.toast-success {
  background-color: var(--toast-success-color);
}

.toast-border.toast-info {
  background-color: var(--toast-info-color);
}

.toast-border.toast-warning {
  background-color: var(--toast-warning-color);
}

/*
TABLE TOP MENU STYLING
-------------------------------------------------
Section 2: This section contains the top menu classes.
*/

.top-menu {
  height: 35px;
  display: flex;
  border: 1px solid var(--table-ui-bd-color);
  border-radius: var(--table-bd-radius);
}

.top-menu-btn {
  height: 100%;
  width: 40px;
  background-color: transparent;
  border: none;
  border-right: 1px solid var(--table-ui-bd-color);
  display: grid;
  place-items: center;
  color: var(--table-ui-fg-color);
  cursor: pointer;
  transition: var(--table-base-transition);
}

.top-menu-btn:hover {
  background-color: var(--table-ui-bd-color);
}

.top-menu-btn:last-child {
  border-right: none;
  border-top-right-radius: var(--table-bd-radius);
  border-bottom-right-radius: var(--table-bd-radius);
}

.top-menu-btn:first-child {
  border-top-left-radius: var(--table-bd-radius);
  border-bottom-left-radius: var(--table-bd-radius);
}