:root {
  /* Table Base Variables */
  --table-bg-color: #20232a;
  --table-bd-color: #30363d;
  --table-fg-color: #b9c6e4;
  --table-shadow: 0 0 10px #30363d56;
  --table-width: 100%;
  --table-height: 100%;
  --table-min-height: 800px;
  --table-max-height: 800px;
  --table-bd-radius: 8px;
  --table-base-transition: all 0.4s ease;
  --table-outside-bd-width: 2px;
  --table-inside-bd-width: 1px;
  --table-font-family: "Roboto", sans-serif;
  --table-font-size: 12px;
  --table-font-weight: 400;
  --table-base-gap: 0.4rem;
  --table-base-padding: 0.5rem;
  --table-top-container-height: 40px;
  --table-bottom-container-height: 40px;
  /* Table Header Variables */
  --table-header-bg-color: #282c34;
  --table-header-bd-color: #fb7185;
  --table-header-fg-color: #b9c6e4;
  --table-header-height: 40px;
  /* Table Body Variables */
  --table-row-bg-color: #20232a;
  --table-row-fg-color: #b9c6e4;
  --table-alternate-row-bg-color: #282c34;
  --table-alternate-row-fg-color: #b9c6e4;
  --table-gridline-color: #30363d;
  --table-row-height: 35px;
  /* Table Pagination Variables */
  --table-pagination-btn-fg-color: #b9c6e4;
  --table-pagination-btn-bg-hover-color: #30363d;
  --table-pagination-btn-fg-active-color: #fb7185;
  /* Table Ui Variables */
  --table-ui-bg-color: #20232a;
  --table-ui-fg-color: #b9c6e4;
  --table-ui-bd-color: #30363d;
  --table-ui-shadow: 0 0 10px #30363d56;
  --table-ui-focus-color: #fb7185;
  --table-ui-checked-color: #fb7185;
  --table-ui-hover-fg-color: #818ba2;
}

/*
TABLE BASE RESET
-------------------------------------------------
Section 1: This section contains the base reset for the table.
*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 2rem; /* For test purposes. Remove later */
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: max-content;
}

thead tr {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--table-header-bg-color);
  color: var(--table-header-fg-color);
  height: var(--table-header-height);
  padding: var(--table-base-padding);
}

th {
  position: relative;
  padding-inline: var(--table-base-padding);
}

tr {
  background-color: var(--table-row-bg-color);
  color: var(--table-row-fg-color);
  height: var(--table-row-height);
  border-bottom: var(--table-inside-bd-width) solid var(--table-gridline-color);
}

tr:nth-child(even) {
  background-color: var(--table-alternate-row-bg-color);
  color: var(--table-alternate-row-fg-color);
}

/*
TABLE CONTAINER STYLING
-------------------------------------------------
Section 2: This section contains the container styling.
*/

.table-container {
  width: var(--table-width);
  height: var(--table-height);
  min-height: var(--table-min-height);
  max-height: var(--table-max-height);
  border-radius: var(--table-bd-radius);
  background-color: var(--table-bg-color);
  color: var(--table-fg-color);
  border: var(--table-outside-bd-width) solid var(--table-bd-color);
  box-shadow: var(--table-shadow);
  font-family: var(--table-font-family);
  font-size: var(--table-font-size);
  font-weight: var(--table-font-weight);
  display: grid;
  grid-template-rows: var(--table-top-container-height) auto 1fr var(
      --table-bottom-container-height
    );
  user-select: none;
}

.top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: var(--table-base-padding);
  border-bottom: var(--table-inside-bd-width) solid var(--table-bd-color);
}

.action-container {
  display: flex;
}

.middle-container {
  overflow: auto;
  display: block;
}

.bottom-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: var(--table-base-padding);
  border-top: var(--table-inside-bd-width) solid var(--table-bd-color);
}

/*
TABLE HEADER STYLING
-------------------------------------------------
Section 3: This section contains the header classes.
*/

.icon-btn.table-sort-btn:hover {
  color: var(--table-ui-hover-fg-color);
}

.header-bottom-border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--table-header-bd-color);
}

/*
TABLE ROW STYLING
-------------------------------------------------
Section 3: This section contains the row classes.
*/

.first-cell {
  padding-inline: var(--table-base-padding);
}

.table-cell {
  padding-inline: var(--table-base-padding);
}

/*
TABLE UI STYLING
-------------------------------------------------
Section 2: This section contains the ui classes.
*/
.table-header-control,
.table-control {
  outline: none;
  border: 1px solid var(--table-ui-bd-color);
  background-color: var(--table-ui-bg-color);
  color: var(--table-ui-fg-color);
  border-radius: var(--table-bd-radius);
  transition: var(--table-base-transition);
  padding-inline: var(--table-base-padding);
  height: 30px;
  font-family: inherit;
  font-size: inherit;
}

.table-header-control:focus,
.table-control:focus {
  outline: 2px solid var(--table-ui-focus-color);
  outline-offset: 1px;
}

.icon-btn {
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  transition: var(--table-base-transition);
  padding: 0.2rem;
}

.table-checkbox {
  accent-color: var(--table-ui-checked-color);
}

.quick-search-input {
  width: 350px;
}

.pagination-btn {
  outline: none;
  border: none;
  background-color: transparent;
  color: var(--table-ui-fg-color);
  border-radius: var(--table-bd-radius);
  transition: var(--table-base-transition);
  padding-inline: var(--table-base-padding);
  height: 30px;
  min-width: 30px;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

.pagination-btn:hover {
  background-color: var(--table-pagination-btn-bg-hover-color);
}

.pagination-btn.page-active {
  border: 2px solid var(--table-pagination-btn-fg-active-color);
}

/*
TABLE GENERIC STYLING
-------------------------------------------------
Section 2: This section contains the generic classes.
*/

.flex-row {
  display: flex;
  flex-flow: row nowrap;
}

.flex-col {
  display: flex;
  flex-flow: column nowrap;
}

.flex-row-wrap {
  display: flex;
  flex-flow: row wrap;
}

.flex-col-wrap {
  display: flex;
  flex-flow: column wrap;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.base-gap {
  gap: var(--table-base-gap);
}

.base-padding {
  padding: var(--table-base-padding);
}